@using MudBlazor

<MudDialog>
    <TitleContent>
        <MudIcon Icon="@Icons.Material.Filled.Error"/>
        <MudText Typo="Typo.h6">@MudDialog.Title</MudText>
    </TitleContent>
    <DialogContent>
        <div style="max-height: 800px; overflow-y:  auto">
            @foreach (var message in Messages)
            {
                <MudText>@message</MudText>
            }
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Error" Variant="Variant.Filled" OnClick="@(Close)">Close</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] public required IMudDialogInstance MudDialog { get; set; }
    [Parameter] public List<string> Messages { get; set; } = new();

    [Inject] public IDialogService DialogService { get; set; } = default!;

    void Close()
    {
        MudDialog.Close();
        StateHasChanged();
    }

}